
body, html {
  height: 100vh;
}


.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  width: 100%;
  height: 100%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: none;
}

#question-wrapper {
  display: block;  
  width: 80%;
  max-width: 1440px;
  background: none;

}

#question-wrapper h1 {
  display: block;
  width: auto;
  text-align: center;
  font-size: 4em;
}


ul {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  list-style: none;
  background: none;
}

li {
  display: inline-block;
  font-size: 2em;
  padding: 40px;
}

a.anchor {
  display: block;
  position: relative;
  top: -400px;
}

.story-wrapper {
  display: block;
  background: none;
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.story-wrapper h2 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 3.5em;
  color: black;
  margin-top: 15%;
  margin-bottom: 15%;
  background: none;
  display: block;
  clear: both;
}

article p {
  display: block;
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #aaa;
}


.next {
  display: block;
  width: 80px;
  height: 40px;
  position: relative;
  background: #ddd;
  color: white;
  margin: 0 auto;
  padding-top: 30px;
  border-radius: 50px 50px 0px 0px;

  text-align: center;
  cursor: pointer;
}

.video-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  height: 600px;
  padding-top: 50px;

}


.video {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
 /* min-width: 60px;*/
  height: 450px;
  margin-left: 10px;
  background: yellow;
  cursor: pointer;
  transition: width .7s;
  overflow: hidden;
}


.video.active {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  /*min-width: 450px;*/
  height: 450px;
  margin-left: 10px;
  transition: width .7s;
  
}




a.close-video {
  display: block;
  position: absolute;
  font-size: 1.5em;
  top: 50px;
  right: 50px;

}



